body {
   
    margin:0;
    padding:0;
    background: url(../img/bg.jpg) no-repeat ; 
     
}
#form_search {
    display: none;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.7);
}


#map {
    height: 500px;
    width: 100%;
    position: center;
}

footer {
    text-align: center;
}
#details_doudou, p {
    color: black;
    font-size: 5e;
}